<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/cache
		http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />
	<context:component-scan base-package="test" />
	<context:property-placeholder location="classpath:spring-context.properties" />

	<!-- This enable the cache related annotations -->
	<cache:annotation-driven cache-manager="cacheManager"/>

	<bean id="cacheManager"
		class="org.infinispan.spring.provider.SpringEmbeddedCacheManagerFactoryBean">
		<property name="configurationFileLocation" value="classpath:infinispan-config.xml" />
	</bean>

</beans>
